@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --foreground: #ededed;
  }
}

body {
  color: #FFFFFF;
  background: #1E1E1E;
  font-family: Inter, sans-serif;
  font-style: normal;
  line-height: 150%;
  letter-spacing: -0.4px;
}
